$color-white: #ffffff;
$color-black: #101820;
$color-gray: #535353;
$color-lightgray: #E2E2E2;
$color-mediumgray: #7A7A7A;
$color-gold: #ffca26;
$color-darkturquoise: #1ac4d4;
$color-skyblue: #76dce5;
$color-orangered: #101820;
$color-gainsboro: #d1f0d0;